body
{
background-color:#708090;
}
h1
{
background-color:#708090;
color:white;
}
div.title
{
margin-left:auto;
margin-right:auto;
margin: 0 auto;
text-align:center;
}
div.obslog
{
max-width:200 px;
color:black;
}
table.timetable
{
color:white;
}
div.nextobs
{
color:white;
}
div.nextobsinner
{
color:white;
}
div.time
{
color:white;
}
div.leftlabel
{
color:white;
}
div.rightdata
{
float:right;
color:white;
}