body
{
background-color:#708090;
}
h1
{
background-color:#708090;
color:white;
}
div.title
{
margin-left:auto;
margin-right:auto;
margin: 0 auto;
text-align:center;
}
div.obslog
{
display:inline;
width:500 px;
color:black;
}
td.nextobs
{
valign:middle;
color:white;
}
div.nextobsinner
{
color:white;
}
div.time
{
color:white;
}
div.inline
{
color:white;
}
div.label
{
color:white;
}
li.plotwrapper
{
display:inline;
float:left;
}
table
{
margin-right:auto;
margin-left:auto;
}
table.timetable
{
    width: 1000px;
    border: 4px;
    border-color:white;
    color: white;
}
th.timeth
{
    text-align:center;
    max-width:125 px;
    border: 5px solid white;
}
th
{
   color:white;
}
td.time
{
border: 1px solid white;
max-width:125 px;
}



ul.plot
{
height:auto;
width:auto;
display:inline;
float:left;
}

td.plot
{
height:300 px;
width:600 px;
padding:0 px;
}
td.obslog
{
width:500 px;
color:black;
}
a.button
{
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #000;
    padding: 0.2em 0.4em;
}


