*.pyc
dist
*.swp
cfitsio/libcfitsio.a
cfitsio/Makefile
cfitsio/config.status
cfitsio/config.log
cfitsio/cfitsio.pc
casapy.log
build
CONV2UVFITS/corr2uvfits
CONV2UVFITS/libsla.a
CONV2UVFITS/test_readuvfits
CONV2UVFITS/Lphasor
build_lfiles/build_lfiles
build_lfiles/read_mwac
build_lfiles/uvcompress
casatasks/flagChanGaps.py
casatasks/flagChanGaps_cli.py
casatasks/flagDC.py
casatasks/flagDC_cli.py
casatasks/mwatasks.py
casatasks/mytasks_flagChanGaps.py
casatasks/mytasks_flagDC.py
casatasks/mytasks_pbgain.py
casatasks/pbgain.py
casatasks/pbgain_cli.py
configs/mwapy.egg-info
casatasks/*-e
/eorlive/FusionConnect.log
*#*
*.o
*~
eorlive_v2/.vagrant
