*.pyc
dist
*.swp
cfitsio/libcfitsio.a
cfitsio/Makefile
cfitsio/config.status
cfitsio/config.log
cfitsio/cfitsio.pc
casapy.log
build
CONV2UVFITS/corr2uvfits
CONV2UVFITS/libsla.a
CONV2UVFITS/test_readuvfits
build_lfiles/build_lfiles
casatasks/flagChanGaps.py
casatasks/flagChanGaps_cli.py
casatasks/flagDC.py
casatasks/flagDC_cli.py
casatasks/mwatasks.py
casatasks/mytasks_flagChanGaps.py
casatasks/mytasks_flagDC.py
casatasks/mytasks_pbgain.py
casatasks/pbgain.py
casatasks/pbgain_cli.py
configs/mwapy.egg-info
casatasks/*-e
/eorlive/FusionConnect.log
*#*
*.o
*.c~
*.py~
