
# Template modified by phase2.sh

datadir=DATADIR
phase=PHASE
chan=CHAN
proj=PROJ

cd $datadir

if [[ ! -d $proj ]]
then
    mkdir $proj
fi
cd $proj

if [[ $phase == "_phase2" ]]
then
    if [[ $chan -eq 69 ]]
    then
        freq="072-103MHz"
    elif [[ $chan -eq 93 ]]
    then
        freq="103-134MHz"
    elif [[ $chan -eq 121 ]]
    then
        freq="139-170MHz"
    elif [[ $chan -eq 145 ]]
    then
        freq="170-200MHz"
    elif [[ $chan -eq 169 ]]
    then
        freq="200-231MHz"
    fi
fi
