for tarball in OBSNUM*tar*
do
    if [[ -e $tarball ]]
    then
        NGASCOMMANDS $tarball
        NGASTESTCOMMANDS$tarball > test_OBSNUM.txt
        localfilesize=`ls -l $tarball | awk '{print $5}'`
        remotefilesize=`grep FileSize test_OBSNUM.txt | awk 'BEGIN {FS="FileSize=\""} {print $2}' | awk 'BEGIN {FS="\""} {print $1}'`
        creation=`grep CreationDate test_OBSNUM.txt | awk 'BEGIN {FS="CreationDate=\""} {print $2}' | awk 'BEGIN {FS="\""} {print $1}' | awk 'BEGIN {FS="T"} {print $1}'`
        # ICRAR storage is in UTC
        today=`TZ=GMT0 date +%Y-%m-%d`
        if [[ $localfilesize -eq $remotefilesize && $creation == $today ]]
        then
            echo "NGAS upload successful; removing tarball."
            rm $tarball
            rm test_OBSNUM.txt
        else
            echo "File upload to NGAS failed! Keeping tarball."
            exit 1
        fi
    else
        echo "$tarball does not exist!"
    fi
done

