#!/bin/bash -l

# Download calibrated measurement set

#SBATCH --account=mwaops
#SBATCH --partition=gpuq
#SBATCH --time=10:00:00
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --mem=100mb

cd DATADIR/PROJ
