#!/bin/bash -l

# Cotter the data

#SBATCH --account=GROUP
#SBATCH --partition=STANDARDQ
#SBATCH --time=01:00:00
#SBATCH --nodes=1
#SBATCH --mem=HOSTMEMgb
#SBATCH --output=QUEUEDIR/OUTPUT.o%j
#SBATCH --error=QUEUEDIR/OUTPUT.e%j
#SBATCH --export=NONE

