#!/bin/bash -l

# Queues up some data grabbing via obsdownload.py

#SBATCH -p COPYQ
#SBATCH --account=GROUP
#SBATCH --time=01:00:00
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --output=QUEUEDIR/OUTPUT.o%j
#SBATCH --error=QUEUEDIR/OUTPUT.e%j
#SBATCH --export=NONE
