#!/bin/bash

# Cotter the data

#PBS -W group_list=GROUPQ
#PBS -q STANDARDQ
#PBS -l walltime=08:00:00
#PBS -l select=1:ncpus=12:mem=HOSTMEM

module load python/2.6.9 numpy/1.6.2 scipy/0.11.0 openmpi
cd DATADIR/PROJ
