<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <title>EoR Observing Webpage - Login</title>
</head>

<body>


  <div class="container" id="content">
    <div class="login_container" style="text-align:center;max-width: 380px; padding: 15px; margin: 0 auto;">
      <h2>EoRLive</h2><br/>
      <fieldset>
  			<div class="form-group">
  				<div>
  					<input class="form-control input-lg" id="username" placeholder="Username" type="text">
  				</div>
  			</div>
  			<div class="form-group">
  				<div>
  					<input class="form-control input-lg" id="password" placeholder="Password" type="password">
  				</div>
  			</div>
  		</fieldset>
      <div id="loading" style="display:none;">
        <img src="{{ url_for('static', filename='/img/loading.gif') }}" />
      </div>
      <div style="color:red; display:none;" id="error_msg">Wrong username or password.</div>
      <button class="btn btn-primary btn-lg btn-block" onClick="login();" id="login_btn">Log In</button>
    </div>
  </div><!-- /.container -->

  <div class="footer navbar navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted">EoR Live &copy; 2014</p>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript">
    var STATIC_PATH = {{ url_for('static', filename='') }};
    function login(){
      $("#login_btn").prop("disabled", true);
      $("#loading").show();
      var un = $("#username").val();
      $.ajax({
        method: "POST",
        url: '/api/login',
        type: 'json',
        data: {username: un, password: $("#password").val()},
        success: function(data){
          save_username(un);
          window.location = "/";
        },
        error: function(xhr, status, err){
          $("#error_msg").fadeIn();
          $("#login_btn").prop("disabled", false);
          $("#loading").hide();
        }
      })
    }

    function save_username(username){
      if(localStorage){
        localStorage.setItem("username", username);
      }
    }

    function load_username(){
      if(localStorage){
        return localStorage.getItem('username') || "";
      }
      return "";
    }

    $("#password").bind("keypress", function(e){
      if(e.keyCode === 13){
            login();
        }
    });

    $("#username").val(load_username());

  </script>
</body>



</html>
