body {
  padding-top: 50px;
}
button {
  margin: 2px 7px;
}

thead tr th{
  text-align: center;
}

div#home {
  padding: 10px 5px;
  text-align: center;
}

.navbar .nav-status {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.content_container {
  text-align: center;
}

/* CLOCK */
.clocks.container {

}

.clocks.container .clock_div{
  display: inline-block;
  padding: 20px;
}

.clocks.container .clock_div canvas{
  display: block;
}

/* LOGS */
div#logs .button_container {
  text-align: right;
  padding-bottom: 20px;
}

/* OBSERVATIONS */

#fb_graphs_container{
  text-align: center;
}

/* USEFUL LINKS */

#links {
  text-align: left;
}
