body {
  padding-top: 50px;
}
button {
  margin: 2px 7px;
}

thead tr th{
  text-align: center;
}

div#home {
  padding: 10px 5px;
  text-align: center;
}

.navbar .nav-status {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.content_container {
  text-align: center;
  position: absolute;
}

/* CLOCK */
.clocks.container {

}

.clocks.container .clock_div{
  display: inline-block;
  padding: 20px;
}

.clocks.container .clock_div canvas{
  display: block;
}

/* BEAM IMAGES */

#beam_image img{
  margin: auto;
}

#beam_image {
  margin-bottom: 30px;
}

#beam_image .carousel-indicators {
  bottom: 30px;
}


/* LOGS */
div#logs .button_container {
  text-align: right;
  padding-bottom: 20px;
}

/* OBSERVATIONS */

#fb_graphs_container{
  text-align: center;
}

/* USEFUL LINKS */

#links {
  text-align: left;
}

/* ACCOUNT */

#account {
  text-align: left;
}

#account form label{
  display: inline-block;
  width: 200px;
}

#account form input{
  display: inline-block;
  width: 300px;
}

/* ANIMATION STUFF */

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .4s ease both;
	animation: moveToLeft .4s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .4s ease both;
	animation: moveFromLeft .4s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight .4s ease both;
	animation: moveToRight .4s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .4s ease both;
	animation: moveFromRight .4s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
