html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
}
button {
  margin: 2px 7px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #222;
  border-color: #080808;
  padding-top: 14px;
}

thead tr th{
  text-align: center;
}

div#home {
  padding: 10px 5px;
  text-align: center;
}

.navbar .nav-status {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.content_container {
  text-align: center;
  position: absolute;
  padding-bottom: 50px !important;
}

span.link {
  color: #428bca;
  text-decoration: underline;
  cursor: pointer;
}

h4.title-with-link {
  display: inline-block;
  margin: 10px;
}

.error-msg {
  color: red !important;
}

#form_login {
  width: 200px;
}

.date-cell {
  white-space: nowrap;
}

/* BEAM IMAGES */

#beam_image img{
  margin: auto;
}

#beam_image {
  margin-bottom: 30px;
  height: 400px;
}

#beam_image .carousel-indicators {
  bottom: 30px;
}


/* LOGS */
div#logs .button_container {
  text-align: right;
  padding-bottom: 20px;
}

#observation_logs .fetch_interface{
}

#observation_logs .obs_tags{
  list-style-type: none;
  padding:0;
  margin:0;
}

#observation_logs .obs_tags label{
  padding-right: 5px;
}

#observation_logs .obs_tags li {
  float: left;
  padding-right: 20px;
}

#observation_logs .post_interface {
  text-align: left;
}

#observation_logs .post_interface form textarea.note{
  width: 40%;
  height: 100px;
}

#observation_logs .post_interface form input.observed_date{
  width: 300px;
}

#observation_logs .tail_interface{
  margin-bottom: 22px;
}

#latest_observation_log tbody span.fine, #observation_logs tbody span.fine{
  color: green;
}

#latest_observation_log tbody span.bad, #observation_logs tbody span.bad{
  color: red;
}

/* OBSERVATIONS */

#fb_graphs_container{
  text-align: center;
}

#graphs .graph_container > div{
  width: 100%;
  height: 400px;
  margin: 12px;
}

/* USEFUL LINKS */

#links {
  text-align: left;
}

/* ACCOUNT */

#account {
  text-align: left;
}

#account form label{
  display: inline-block;
  width: 200px;
}

#account form input{
  display: inline-block;
  width: 300px;
}

/* ANIMATION STUFF */

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .4s ease both;
	animation: moveToLeft .4s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .4s ease both;
	animation: moveFromLeft .4s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight .4s ease both;
	animation: moveToRight .4s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .4s ease both;
	animation: moveFromRight .4s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight {
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
