#!/bin/bash

# Mosaic Dec strips, including:
# - QA
# - source-finding on I snapshots
# - pairwise flux corrections
# - swarp mosaicking
# - modify headers to include FREQ, BMAJ, BMIN, BPA
# - rename mosaics to sensible filenames
# - source-finding on XX and YY mosaics
# - combining XX and YY into a single recomb mosaic
# - source-finding on recomb mosaics
# - Dec-dependent flux corrections
# - source-finding on flux-corrected mosaics

#PBS -W group_list=GROUPQ
#PBS -q STANDARDQ
#PBS -l walltime=16:00:00
#PBS -l select=1:ncpus=NCPUS:mem=HOSTMEMgb
#PBS -J 0-3

module load python/2.6.9 scipy/0.15.1 openmpi astropy java emcee matplotlib
