#!/bin/bash -l

# Make RGBW mosaics

#SBATCH --account=GROUPQ
#SBATCH --partition=STANDARDQ
#SBATCH --time=12:00:00
#SBATCH --nodes=1
#SBATCH --mem=HOSTMEMgb
#SBATCH --output=QUEUEDIR/OUTPUT.o%A_%a
#SBATCH --error=QUEUEDIR/OUTPUT.e%A_%a
#SBATCH --array=0-3
#SBATCH --export=NONE

aprun="aprun -n 1 -d NCPUS "
aprunsingle="aprun -n 1 -d 1 "
