#!/bin/bash
datadir=DATADIR
proj=PROJ
week=WEEK

# Convert SLURM id to PBS id
if [[ ! $PBS_ARRAY_INDEX ]]
then
    PBS_ARRAY_INDEX=$SLURM_ARRAY_TASK_ID
fi

if [[ $week == "Week1" ]]
then
    dateprefix=201308
    zenith=20130810
elif [[ $week == "Week2" ]]
then
    dateprefix=201311
    zenith=20131125
elif [[ $week == "Week3" ]]
then
    dateprefix=201403
    zenith=20140303
elif [[ $week == "Week4" ]]
then
    dateprefix=201406
    zenith=20140609
else
    echo "Week not given correctly: specify like 'WeekN', where N=1-4"
    exit 1
fi

cd $datadir/$proj/

if [[ ! -d $week ]]
then
    mkdir $week
fi

cd $week

# Get list of frequencies and zenith psf from the header of the zenith mosaic
testdir=`ls -d $datadir/$proj/$zenith`
file=`ls $testdir/*/subchan?/*polyapplied.fits | head -${PBS_ARRAY_INDEX} | tail -1`
freq=`basename $file | awk 'BEGIN {FS="_"} {print $3}'`
bmaj=`pyhead.py -p BMAJ $file | awk '{print $3}'`
bmin=`pyhead.py -p BMIN $file | awk '{print $3}'`

if [[ ! -d $freq ]]
then
    mkdir $freq
fi

cd $freq

if [[ ! -e ${week}_${freq}.fits ]]
then
    for file in $datadir/$proj/${dateprefix}??/*/subchan?/*$freq*_polyapplied.fits
    do
       localfile=`basename $file`
       rms=`echo $file | sed "s;.fits;_rms.fits;"`
       localrms=`basename $rms`
       if [[ -h $localfile ]]
       then
           rm $localfile
       fi
       if [[ -h $localrms ]]
       then
           rm $localrms
       fi
       ln -s $file
       echo "ln -s $file"
    # Link RMS
       ln -s $rms
       echo "ln -s $rms"
    done

    for file in *_polyapplied_rms.fits
    do
       newfile=`echo $file | sed "s/_rms.fits/_rms_sigmoid.fits/"`
       if [[ ! -e $newfile ]]
       then
           echo "Modifying the weights at the edges of $file, to produce $newfile."
           $aprun sigmoid_weight.py --mosaic=$file
       else
           echo "$newfile already exists"
       fi
    done
    $aprun swarp -c ../weight.swarp mosaic*_polyapplied.fits -IMAGEOUT_NAME ${week}_${freq}.fits -WEIGHTOUT_NAME ${week}_${freq}.weight.fits -PROJECTION_TYPE ZEA
# Trim off the dead zones
    fits_trim.py ${week}_${freq}.fits temp.fits
    mv temp.fits ${week}_${freq}.fits
    fits_trim.py ${week}_${freq}.weight.fits temp.fits
    mv temp.fits ${week}_${freq}.weight.fits
# Use the zenith psf as the header beam
    pyhead.py -u BMAJ $bmaj ${week}_${freq}.fits
    pyhead.py -u BMIN $bmin ${week}_${freq}.fits
    pyhead.py -u BPA 0.0 ${week}_${freq}.fits
else
    echo "${week}_${freq}.fits already exists, so I didn't bother to re-make it. Please delete and re-run if you want a new version."
fi
$aprun aegean.sh ${week}_${freq}.fits bane compress
