#!/bin/bash
#SBATCH --account=GROUPQ
#SBATCH --partition=STANDARDQ
#SBATCH --time=03:00:00
#SBATCH --nodes=1
#SBATCH --mem=HOSTMEMgb
#SBATCH --output=QUEUEDIR/OUTPUT.o%j
#SBATCH --error=QUEUEDIR/OUTPUT.e%j

aprun="aprun -n 1 -d NCPUS "

